
.menu-principal {
    width: 40px;
    height: 40px;
  
}

.menu-arquivos {
    width: 40px;
    height: 40px;
}

.menu-loja {
    width: 40px;
    height: 40px;
}

.menu-musica {
    width: 40px;
    height: 40px;
}

.menu-video {
    width: 40px;
    height: 40px;
}

.menu-chrome {
    width: 40px;
    height: 40px;
}


.menu-configuracao {
    width: 40px;
    height: 40px;
}

.menu-speaker {
    width: 25px;
    height: 25px;
}

.menu-ethernet {
    width: 25px;
    height: 25px;
}

.menu-cloud {
    width: 25px;
    height: 25px;
}

.menu-search {
    width: 25px;
    height: 25px;
}


.menu-power {
    width: 43px;
    height: 43px;
}
.menu-lixeira {
    width: 43px;
    height: 43px;
}

.menu-terminal {
    width: 43px;
    height: 43px;
}
