body {
    background-image: url(../images/wallpapers/wallpaper-02.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    margin: 0px;
}

/* Area de Trabalho Linux */

.areadetrabalholinux {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

/* DROPDOWNS */

/* MENU INICIAR DROPDOWN */
.dropdown-menu-principal{
    background-color: #464646;
	border-radius: 10px;
	width: 100px;
    height: 33px;
    color: #FFFFFF;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.dropdown-menu-principal:after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #464646;
	bottom: -10px;
	left: 43%;
}

/* GEAREXPLORER */
.dropdown-menu-gearexplorer{
    background-color: #464646;
	border-radius: 10px;
	width: 100px;
    height: 33px;
    color: #FFFFFF;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    left: 6.5%;
}
.dropdown-menu-gearexplorer:after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #464646;
	bottom: -10px;
	left: 43%;
}

/*  LOJA  */

.dropdown-menu-loja{
    background-color: #464646;
	border-radius: 10px;
	width: 100px;
    height: 33px;
    color: #FFFFFF;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    left: 13%;
}
.dropdown-menu-loja:after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #464646;
	bottom: -10px;
	left: 43%;
}

/* SPOTFY */
.dropdown-menu-spotfy{
    background-color: #464646;
	border-radius: 10px;
	width: 100px;
    height: 33px;
    color: #FFFFFF;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    left: 19.5%;
}
.dropdown-menu-spotfy:after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #464646;
	bottom: -10px;
	left: 43%;
}
/* VLC MEDIA PLAYER */
.dropdown-menu-vlcmediaplayer{
    background-color: #464646;
	border-radius: 10px;
	width: 100px;
    height: 33px;
    color: #FFFFFF;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    left: 26%;
}
.dropdown-menu-vlcmediaplayer:after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #464646;
	bottom: -10px;
	left: 43%;
}
/* CHROME */
.dropdown-menu-chrome{
    background-color: #464646;
	border-radius: 10px;
	width: 100px;
    height: 33px;
    color: #FFFFFF;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    left: 32.7%;
}
.dropdown-menu-chrome:after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #464646;
	bottom: -10px;
	left: 43%;
}
/* CONFIGURAÇÃO */
.dropdown-menu-configuracao{
    background-color: #464646;
	border-radius: 10px;
	width: 100px;
    height: 33px;
    color: #FFFFFF;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    left: 39.2%;
}
.dropdown-menu-configuracao:after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #464646;
	bottom: -10px;
	left: 43%;
}
/* SOM */
.dropdown-menu-som{
    background-color: #464646;
	border-radius: 10px;
	width: 100px;
    height: 33px;
    color: #FFFFFF;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    left: 47.5%;
}
.dropdown-menu-som:after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #464646;
	bottom: -10px;
	left: 43%;
}

/* REDE*/
.dropdown-menu-rede{
    background-color: #464646;
	border-radius: 10px;
	width: 100px;
    height: 33px;
    color: #FFFFFF;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    left: 53.4%;
}
.dropdown-menu-rede:after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #464646;
	bottom: -10px;
	left: 43%;
}
/*  NUVEM */
.dropdown-menu-nuvem{
    background-color: #464646;
	border-radius: 10px;
	width: 100px;
    height: 33px;
    color: #FFFFFF;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    left: 59%;
}
.dropdown-menu-nuvem:after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #464646;
	bottom: -10px;
	left: 43%;
}
/* PESQUISA */
.dropdown-menu-pesquisa{
    background-color: #464646;
	border-radius: 10px;
	width: 100px;
    height: 33px;
    color: #FFFFFF;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    left: 65.1%;
}
.dropdown-menu-pesquisa:after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #464646;
	bottom: -10px;
	left: 43%;
}
/* DESLIGAR */
.dropdown-menu-desligar{
    background-color: #464646;
	border-radius: 10px;
	width: 100px;
    height: 33px;
    color: #FFFFFF;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    left: 73.8%;
}
.dropdown-menu-desligar:after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #464646;
	bottom: -10px;
	left: 43%;
}
/* LIXEIRA */
.dropdown-menu-lixeira{
    background-color: #464646;
	border-radius: 10px;
	width: 100px;
    height: 33px;
    color: #FFFFFF;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    left: 80.2%;
}
.dropdown-menu-lixeira:after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #464646;
	bottom: -10px;
	left: 43%;
}
/* TERMINAL */
.dropdown-menu-terminal{
    background-color: #464646;
	border-radius: 10px;
	width: 100px;
    height: 33px;
    color: #FFFFFF;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    left:87%;
}
.dropdown-menu-terminal:after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #464646;
	bottom: -10px;
	left: 43%;
}

/* BARRA DE NAVEGAÇÃO */
.conteudonavbar {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dropdowns-navbar {
    width: 44.5%;
    height: 47px;
    display: flex;
}

.barradenavegacao {
    width: 43%;
    height: 53px;
    background-color: rgba(39, 39, 39, 0.507);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-esquerdo-content {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-direito-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-esquerdo {
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu-linha-vertical {
    width: 1%;
    height: 80%;
     border-right: 2px solid rgb(155, 155, 155);
}

.content-direito {
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.icone {
    margin-left: 8px;
    margin-right: 8px;
    width: 40px;
    height: 40px;
    background-color: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: unset;
    transition-delay: 40ms;
}

.icone:hover {
    transform: scale(1.2);
}

.icone-v2 {
    margin-left: 8px;
    margin-right: 8px;
    width: 35px;
    height: 35px;
    background-color: #6d6d6da4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: unset;
    border-radius: 5px;
}

/* Animações icones */

.icone-v2:hover {
    background-color: #858383a4;
    
}

/* Fim Animações */



.menu-principal {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("../images/icons/navbar/menu.svg");
    background-repeat: no-repeat;
}

.menu-arquivos {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("../images/icons/navbar/folder2.svg");
    background-repeat: no-repeat;
}

.menu-loja {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("../images/icons/navbar/store.svg");
    background-repeat: no-repeat;
}

.menu-musica {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("../images/icons/navbar/music.svg");
    background-repeat: no-repeat;
}

.menu-video {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("../images/icons/navbar/vlc-player.svg");
    background-repeat: no-repeat;
}

.menu-chrome {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("../images/icons/navbar/chrome.svg");
    background-repeat: no-repeat;
}


.menu-configuracao {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("../images/icons/navbar/settings.svg");
    background-repeat: no-repeat;
}

.menu-speaker {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("../images/icons/navbar/volume.svg");
    background-repeat: no-repeat;
}

.menu-ethernet {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("../images/icons/navbar/ethernet.svg");
    background-repeat: no-repeat;
}

.menu-cloud {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("../images/icons/navbar/cloud.svg");
    background-repeat: no-repeat;
}

.menu-search {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("../images/icons/navbar/search.svg");
    background-repeat: no-repeat;
}


.menu-power {
    display: inline-block;
    width: 43px;
    height: 43px;
    background-image: url("../images/icons/navbar/power-off.svg");
    background-repeat: no-repeat;
}
.menu-lixeira {
    display: inline-block;
    width: 43px;
    height: 43px;
    background-image: url("../images/icons/navbar/lixeira.svg");
    background-repeat: no-repeat;
}

.menu-terminal {
    display: inline-block;
    width: 43px;
    height: 43px;
    background-image: url("../images/icons/navbar/terminal.svg");
    background-repeat: no-repeat;
}